html {
  background: linear-gradient(
    90deg,
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255),
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255)
  );
}
body {
  background-image: url("../images/ghost.gif");
  background-size: contain;
}
/* div {
      width: 100%;
      height: 400px;
      background-image: url('img_flowers.jpg');
      background-size: 100% 100%; <--makes img span on whole page
    } */

/*width=percentage & height="auto", the img = responsive & scale up/down */

[class*="col-"] {
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
/*Welcome Style*/
#welcome {
  font-size: xx-large;
  height: auto;
  text-align: center;
  margin-top: 30px;
  font-family: "Modak", cursive;
  background: linear-gradient(
    360deg,
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255)
  );
  -webkit-text-fill-color: aliceblue;
  -webkit-text-emphasis: circle;
}
h1 {
  color: magenta;
}

li {
  color: blue;
}
#a {
  color: red;
}
#p {
  color: gold;
}
#b {
  color: chartreuse;
}

/*Yubbz style*/
iframe {
  width: -webkit-fill-available;
}

.tubs {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-weight: 600;
}
.grey {
  background: linear-gradient(
    90deg,
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255)
  );
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 0.7rem;
}
main {
  background-color: magenta;
  opacity: 0.9;
  padding: 18px 10px;
}
article {
  display: flex;
  align-items: center;
}
.thumb {
  height: 70px;
  width: inherit;
}
/*styling for about me*/
#fart {
  font-size: 3vw;
}
img {
  width: 100%;
  height: auto;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: 5; /*infinite causes all animation to increase speed*/
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}
/*style for dropdown*/
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-size: 30%;
  background: linear-gradient(
    90deg,
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255)
  );
  max-width: 100%;
  width: 80%;
  width: 95%;
  margin-left: 24px;
  margin-right: 23px;
  border-radius: 2px 2px 9px 9px;
  text-align: center;
  box-shadow: 63px 40px 20px 14px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* The [container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin-left: 4vw;
  background: linear-gradient(
    90deg,
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255)
  );
  background-size: 80%;
  animation: rain 8s linear infinite;
  /*if you want full round nav bar uncomment border-radius below*/
  /* border-radius: 50px 50px 50px 50px; */
  border-radius: 0px 0px 9px 9px;
}
@keyframes rain {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

#me {
  background-image: url("../images/juanito.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  animation: animate 4s linear infinite;
  animation-direction: alternate-reverse;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes animate {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

#port {
  background-image: url("../images/launch.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: launch 9s linear infinite;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes launch {
  0% {
    background-position: 50%;
  }
  25% {
    background-position: 100%;
  }
  75% {
    background-position: 0%;
  }
  100% {
    background-position: 50%;
  }
}
#yubby {
  background-image: url("../images/yubz.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: yub 9s linear infinite;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes yub {
  0% {
    background-position: 50%;
  }
  25% {
    background-position: 0%;
  }
  75% {
    background-position: 100%;
  }
  100% {
    background-position: 50%;
  }
}
#wel {
  background-image: url("../images/ufo.png");
}
#contact {
  background-image: url("../images/contact.png");
}
#wel,
#contact {
  background-repeat: no-repeat;
  background-size: contain;
  animation: takeMe 5s linear infinite;
  animation-direction: alternate-reverse;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes takeMe {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}
/*for name on navbar*/
#pimp {
  font-size: 9vw;
  margin-bottom: 0px;
  margin-top: 0px;
}

/*my img styling fot aboutMe*/

#float {
  padding-right: 20px;
}

/*css for portfolio*/
.wrapper {
  /* align-content: center; */
  display: flex;
  flex-wrap: wrap;
  /* height: 100%; */
}
#portImg {
  height: -webkit-fill-available;
}
#txt {
  position: absolute;
  margin-top: 95px;
  margin-left: 30px;
  color: white;
}
a {
  display: block;
  height: 120px;
  max-height: 100%;
  max-width: 100%;
  margin: 10px;
  width: 150px;
}

#aboutMe {
  margin-top: 30px;
}

/*styling for contact*/
#cont {
  text-align: center;
}
form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}
.form-control {
  width: fit-content;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  color: black;
  font-weight: bolder;
  font-size: 18px;
  margin-bottom: 16px;
}
input {
  height: 45px;
}
form .submit {
  background: #ff5722;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}
form .submit:hover {
  background-color: chartreuse;
  cursor: pointer;
}
/*iPhone 6,7,8 Plus*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #pimp {
    font-size: 252%;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    max-width: 100%;
    margin-left: 4vw;
    background: linear-gradient(
      90deg,
      rgb(255, 2, 2),
      rgb(248, 164, 7),
      gold,
      rgb(32, 255, 2),
      rgb(23, 7, 248),
      rgb(255, 6, 255)
    );
    background-size: 80%;
    animation: rain 8s linear infinite;
    height: 41px;
  }
  .wrapper {
    margin-left: 37px;
    margin-right: 15px;
  }
  #pimp {
    font-size: 9.7578vw;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #aboutMe {
    margin-left: 2px;
    margin-right: 13px;
  }
  #cont {
    margin-left: 30px;
    margin-right: 27px;
    width: -webkit-fill-available;
  }
}

/*landscape*/
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .container {
    margin-left: 111px;
    margin-right: 104px;
    align-content: center;
  }
  .marg {
    margin-left: 91px;
    margin-right: 72px;
  }
}
@media screen and (max-width: 767px) {
  [class*="col-"] {
    float: none;
  }
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 84%;
    margin-bottom: 20px;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: fit-content;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .marg {
    margin-left: 39px;
    margin-right: 28px;
  }
  #pimp {
    font-size: 9vw;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  #fart {
    font-size: 5vw;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-size: 30%;
    background: linear-gradient(
      90deg,
      rgb(255, 2, 2),
      rgb(248, 164, 7),
      gold,
      rgb(32, 255, 2),
      rgb(23, 7, 248),
      rgb(255, 6, 255)
    );
    max-width: 100%;
    width: 80%;
    width: 95%;
    margin-left: 9px;
    margin-right: 9px;
    border-radius: 2px 2px 9px 9px;
    text-align: center;
    box-shadow: 63px 40px 20px 14px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 34px;
    margin-right: 30px;
  }
  #cont {
    margin-left: 62px;
    margin-right: 60px;
    width: -webkit-fill-available;
  }
}
@media screen and (width: 414px) {
  iframe {
    margin-left: 24px;
    margin-right: 24px;
    width: 366px;
  }
  #aboutMe {
    margin-left: 35px;
    margin-right: 35px;
  }
  #float {
    width: 300px;
    padding-right: 20px;
  }
  .marg {
    margin-left: 21px;
    margin-right: 23px;
  }
}
@media screen and (max-width: 375px) {
  .marg {
    margin-left: 43px;
    margin-right: 41px;
  }
  .col-3 {
    width: 79%;
    margin-bottom: 20px;
  }
  #aboutMe {
    margin-left: -13px;
    margin-right: -13px;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    margin-left: 16px;
    margin-right: 16px;
  }
}
@media screen and (max-width: 320px) {
  .marg {
    margin-left: 51px;
    margin-right: 45px;
  }
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 auto;
    width: min-content;
  }
  .col-3 {
    width: 72%;
    margin-bottom: 20px;
  }
  .dropdown {
    height: 36px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin-left: 74px;
    margin-right: 84px;
  }
  .col-3 {
    width: 25%;
    padding-right: 15px;
  }
  .col-6 {
    width: 72%;
  }

  .dropdown-content {
    margin-left: 19px;
    margin-right: 17px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin-right: 185px;
    margin-left: 183px;
  }
  .dropdown-content {
    margin-left: 31px;
    margin-right: 27px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: -webkit-fill-available;
    height: 500px;
    margin-right: 295px;
    margin-left: 257px;
  }
  .wrapper {
    margin-left: 396px;
    margin-right: 390px;
  }
}

@media screen and (min-width: 2560px) {
}
