html {
  background-color: black;
}
body {
  background-image: url("../images/ghost.gif");
  background-size: contain;
}
/* div {
        width: 100%;
        height: 400px;
        background-image: url('img_flowers.jpg');
        background-size: 100% 100%; <--makes img span on whole page
      } */

/*width=percentage & height="auto", the img = responsive & scale up/down */

[class*="col-"] {
  float: left;
}

.col-3 {
  width: 25%;
}

.col-6 {
  line-height: 1.5;
  padding: 10px;
  width: 50%;
  background-color: orange;
  color: black;
  opacity: 0.9;
  border-radius: 2%;
  text-align: center;
}

/*Welcome Style*/
#welcome {
  font-size: xx-large;
  height: auto;
  /* height: -webkit-fill-available; */
  text-align: center;
  /* margin-top: 30px; */
  font-family: "Modak", cursive;
  background: linear-gradient(
    180deg,
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255)
  );
  -webkit-text-fill-color: aliceblue;
  -webkit-text-emphasis: circle;
  border-radius: 2%;
  /* margin: 30px 35px; */
}
h1 {
  color: magenta;
}

li {
  color: blue;
}
#a {
  color: red;
}
#p {
  color: gold;
}
#b {
  color: chartreuse;
}

/*Yubbz style*/
iframe {
  width: -webkit-fill-available;
}

.tubs {
  padding: 0;
  margin: 0;
  font-weight: 600;
}
.grey {
  background: linear-gradient(
    90deg,
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255)
  );
  background-repeat: no-repeat;
  background-size: 100%;
  font-size: 0.6rem;
  line-height: 1.2;
}
main {
  background-color: magenta;
  opacity: 0.9;
  padding: 18px 10px;
}
article {
  padding: 3px;
  display: flex;
  align-items: center;
}
.thumb {
  height: 70px;
  width: inherit;
}
/*styling for about me*/
#fart {
  font-size: 3vw;
}
img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: 5; /*infinite causes all animation to increase speed*/
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}
/*style for dropdown*/
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  display: none;
  position: absolute;
  background-size: 30%;
  background: linear-gradient(
    90deg,
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255)
  );
  max-width: 100%;
  width: 80%;
  width: 95%;
  margin-left: 24px;
  margin-right: 23px;
  border-radius: 2px 2px 9px 9px;
  text-align: center;
  box-shadow: 63px 40px 20px 14px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* The [container <div> - needed to position the dropdown content */

.dropdown {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  position: relative;
  /* display: inline-block; */
  max-width: 100%;
  /* margin-left: 4vw; */
  background: linear-gradient(
    90deg,
    rgb(255, 2, 2),
    rgb(248, 164, 7),
    gold,
    rgb(32, 255, 2),
    rgb(23, 7, 248),
    rgb(255, 6, 255)
  );
  background-size: 85%;
  animation: rain 8s linear infinite;
  /* border-radius: 50px 50px 50px 50px; */
  border-radius: 0px 0px 9px 9px;
}
@keyframes rain {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

#me {
  background-image: url("../images/juanito.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  animation: animate 4s linear infinite;
  animation-direction: alternate-reverse;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes animate {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

#port {
  background-image: url("../images/launch.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: launch 9s linear infinite;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes launch {
  0% {
    background-position: 50%;
  }
  25% {
    background-position: 100%;
  }
  75% {
    background-position: 0%;
  }
  100% {
    background-position: 50%;
  }
}
#yubby {
  background-image: url("../images/yubz.png");
  background-repeat: no-repeat;
  background-size: contain;
  animation: yub 9s linear infinite;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes yub {
  0% {
    background-position: 50%;
  }
  25% {
    background-position: 0%;
  }
  75% {
    background-position: 100%;
  }
  100% {
    background-position: 50%;
  }
}
#wel {
  background-image: url("../images/ufo.png");
}
#contact {
  background-image: url("../images/contact.png");
}
#wel,
#contact {
  background-repeat: no-repeat;
  background-size: contain;
  animation: takeMe 5s linear infinite;
  animation-direction: alternate-reverse;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

@keyframes takeMe {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}
/*for name on navbar*/
#pimp {
  font-weight: 600;
  padding: 5px;
  font-size: 6.8vw;
  margin-bottom: 0px;
  margin-top: 0px;
}

/*my img styling fot aboutMe*/

#float {
  border-radius: 21%;
}

/*css for portfolio*/
#description,
#txt {
  font-weight: bolder;
  text-align: center;
  font-size: 15px;
}
#txt {
  padding: 8px 0px;
  color: mediumspringgreen;
}

.wrapper,
.wrappers {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  place-content: center;
  font-family: "Open Sans", sans-serif;
}

.show,
.hide {
  max-height: 100%;
  max-width: 100%;
  margin: 10px;
  width: 145px;
}
.hide {
  margin-left: 0;
  background-color: mediumslateblue;
  opacity: 0.9;
  color: black;
  border-radius: 5px;
}
#aboutMe {
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
}
button {
  border-radius: 50%;
  margin: 0px 8px 10px;
  width: 150px;
  max-width: 100%;
  height: 150px;
  padding: 15px;
}
/*style for tubez*/
#tubez {
  margin: 0px 30px;
  font-family: "Open Sans", sans-serif;
}

/*styling for contact*/
#github,
#in,
#ressy,
#cell,
#mail {
  background-size: contain;
}
#ressy,
#cell,
#mail {
  background-color: white;
}
#github {
  background-image: url("../images/git.png");
}
#in {
  background-image: url("../images/in.png");
}
#ressy {
  background-image: url("../images/resume.png");
}
#cell {
  font-size: 8px;
  font-weight: 900;
  color: chartreuse;
  background-image: url("../images/cel.png");
}
#mail {
  background-image: url("../images/email.png");
}
#cont {
  text-align: center;
}

@media screen and (max-width: 767px) {
  [class*="col-"] {
    float: none;
  }
  .col-3 {
    width: 84%;
    margin-bottom: 20px;
  }
  .col-6 {
    width: fit-content;
  }
  .marg {
    margin-left: 39px;
    margin-right: 28px;
  }
  #fart {
    font-size: 5vw;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-size: 30%;
    background: linear-gradient(
      90deg,
      rgb(255, 2, 2),
      rgb(248, 164, 7),
      gold,
      rgb(32, 255, 2),
      rgb(23, 7, 248),
      rgb(255, 6, 255)
    );
    max-width: 100%;
    width: 80%;
    width: 95%;
    margin-left: 9px;
    margin-right: 9px;
    border-radius: 2px 2px 9px 9px;
    text-align: center;
    box-shadow: 63px 40px 20px 14px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  .dropdown {
    margin: 0px 20px;
  }
  #cont {
    margin: 0px 30px;
  }
}
@media screen and (width: 414px) {
  .show,
  .hide {
    width: 155px;
  }

  .marg {
    margin-left: 33px;
    margin-right: 33px;
  }
}
@media screen and (max-width: 375px) {
  .marg {
    margin-left: 43px;
    margin-right: 41px;
  }
  .col-3 {
    width: 79%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 320px) {
  .marg {
    margin-left: 51px;
    margin-right: 45px;
  }
  .col-3 {
    width: 72%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin-left: 74px;
    margin-right: 84px;
  }
  .col-3 {
    width: 25%;
    padding-right: 15px;
  }
  .col-6 {
    width: 69%;
  }

  .dropdown-content {
    margin-left: 19px;
    margin-right: 17px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    margin-right: 168px;
    margin-left: 185px;
  }
  .dropdown-content {
    margin-left: 31px;
    margin-right: 27px;
  }

  #welcome {
    margin: 30px 185px;
    border-radius: 3% 3% 3% 3%;
  }
  #tubez {
    margin: 30px 205px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: -webkit-fill-available;
    height: 500px;
    margin-right: 295px;
    margin-left: 257px;
  }
}

@media screen and (min-width: 2560px) {
}
